        .jumbotron {
            background-image: url('../frl-bg-image.jpg');
            background-size: cover;
            color: #0056b3;
            padding: 100px 0;
        }
        .bg-blue {
            background-color: #0056b3;
        }
        .mission-section {
            background-color: #f8f9fa;
            padding: 50px 0;
        }
        .navbar-brand {
            display: flex;
            align-items: center;
        }
        .logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #0056b3;
            border-radius: 50%;
        }
		
		.resource-title {
            color: #0056b3; /* This is the same blue color used for the background */
       }
	   
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }	

        .page-header-about {
		    background-image: url('../frl-bg-image7.jpg');
            background-size: cover;
			padding: 50px 0;
		}

        .page-header-services {
		    background-image: url('../frl-bg-image14.jpg');
            background-size: cover;
			padding: 50px 0;
		}

        .page-header-guides {
		    background-image: url('../frl-bg-image15.jpg');
            background-size: cover;
			padding: 50px 0;
		}

        .page-header-speccoll {
		    background-image: url('../frl-bg-image5.jpg');
            background-size: cover;
			padding: 50px 0;
		}

        .page-header-catalog {
		    background-image: url('../frl-bg-image18.jpg');
            background-size: cover;
			padding: 50px 0;
		}